<% layout('./layouts/boilerplate') -%>

  <body>
    <h3 class="container mt-5">Edit Listing</h3>
    <form action="/listings/<%=editListing._id%>?_method=PATCH" method="post" class="container mt-5">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          required
          id="title"
          value="<%= editListing.title %>"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          required
          id="description"
        >
<%= editListing.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="price"
          value="<%= editListing.price %>"
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          class="form-control"
          required
          id="location"
          value="<%= editListing.location %>"
        />
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Country</label>
        <input
          type="text"
          name="country"
          class="form-control"
          required
          id="country"
          value="<%= editListing.country %>"
        />
      </div>
      <a href="/listing/<%=editListing._id %>" class="btn btn-danger">Back</a>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </body>
