<% layout('./layouts/boilerplate') -%>

<body>
  <!-- <form action="/listings/new" method="get">
    <button>Create new listing</button>
  </form> -->
  <table >
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Location</th>
      <th>Country</th>
    </tr>

    <% for(listing of allListings){ %>
    <tr>
      <td><a href="/listing/<%= listing.id%>"><%=listing.title %></a></td>
      <td><%=listing.description %></td>
      <td><%=listing.price %></td>
      <td><%=listing.location %></td>
      <td><%=listing.country%></td>
    </tr>

    <%}%>
  </table>
</body>
