<% layout("./layouts/boilerplate") -%>
<body>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Location</th>
      <th>Country</th>
    </tr>

    <tr>
      <td><%=curListing.title %></td>
      <td><%=curListing.description %></td>
      <td>₹ <%=curListing.price.toLocaleString("en-IN") %></td>
      <td><%=curListing.location %></td>
      <td><%=curListing.country%></td>
    </tr>
  </table>

  <a href="/listings" class="btn btn-danger">Back</a>
  <img src="<%= curListing.image.url %>" alt="" />

  <form action="/listings/<%= curListing._id%>?_method=DELETE" method="post">
    <button class="btn btn-danger">Delete</button>
  </form>
  <a href="/listings/<%= curListing._id%>/edit" class="btn btn-primary">Edit</a>
</body>
